@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Tajawal&display=swap');
$mainColor:#017dfc;
$seccess:rgb(12, 204, 12);
$darkColor:#666;
$secondary:#f2f2f2;
$bgColor:#ffffff;
$scColor:#f1f3f6;
$fontHeader:'Almarai', sans-serif;
$fontText: 'Tajawal', sans-serif;
$direction: rtl;

img {
    width: 100%;
}